/* bengali */
@font-face {
  font-family: 'Baloo Da';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Da'), local('BalooDa-Regular'), url(https://fonts.gstatic.com/s/balooda/v1/ecyOHcdXC49lbsfOQ47zvBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0981-09FB, U+200B-200D, U+20B9, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Baloo Da';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Da'), local('BalooDa-Regular'), url(https://fonts.gstatic.com/s/balooda/v1/-jZYCgb8UsMdbiDmGPAJLRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Baloo Da';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Da'), local('BalooDa-Regular'), url(https://fonts.gstatic.com/s/balooda/v1/N6kkTuHkMxBpqsylZ-x3ehkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Baloo Da';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Da'), local('BalooDa-Regular'), url(https://fonts.gstatic.com/s/balooda/v1/iG3AW_qczXmCJOjnWOGIRXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
